/* CSS Document */
/*
PALLETE
C8C8C8
94110D
FF6062
498271
0051A2
*/
body {
    background: #3F3D42;
    background-image: url(../style/background.png);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: #FFFFFF;
}

ul, ol{
    padding-left:2rem;
}

table.main {
  /*border-collapse:collapse;*/
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

td.main {
	padding: 6px;
    background-color: rgba(14, 14, 14, .9);
}

th.menu {
	padding: 6px;
    background-color: rgba(0, 81, 162, .9);
}

math {
	font-size: 20;
}

h1 {
	color: #94110D;
	clear: both;
}

h1.noclear {
	color: #94110D;
	clear: none;
}

h2 {
	color: #FF6062;
	clear: both;
}

h2.noclear {
	color: #FF6062;
	clear: none;
}

h3 {
	color: #498271;
}

h4 {
	color: #498271;
}

p {
	text-indent: 50px;
}

a {
	color: #54CCC1;
}

table.image {
	float: right;
	clear: right;
}

table.galery {
	margin: 6px;
	display: inline-block;
	word-break: keep-all;
	vertical-align: top;
}

table.galery tbody {
	width: 100%;
	display: table;
}

span.alt {
	background-color: #C8C8C8;
	color: #040404;
}

table.icons {
	margin: 12px;
	display: inline-block;
	background-image: url("style/bg4.png");
	word-break: keep-all;
	vertical-align: top;
}

table.icons tbody {
	width: 100%;
	display: table;
}
